*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #080808;
    color: #fff;

}



#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/BackgroundHolder.jpg);   
    background-size: cover;
    background-position: center;
}
.container-gallery {
    position: absolute;
    width: 80%;
    left: 10%;
}
.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed !important;
    position: absolute; /*ie6 */
    background-color: white;
    z-index: 8;
    height: 10%;
    width: 102%;
    right: -1.5%;
    top: -1%;
    border: 1px solid black;
}

nav b {
    position: absolute;
    left: 2%;
    font-size: 3em;
    
}

nav b span{
    color: red;
}

.logo{
    width: 140px;
}

nav ul {
    position: absolute;
    left: 70%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    font-size: 40px;
    
    padding: 50px;
    position: absolute;
    text-align: left;
    height: 80%;
    width: 45%;
    overflow: auto;
    left: 5%;
    top: 10%;
}

.header-text p{
    font-size: 40px;
    margin-top: 20px;
}

.header-text p span{
    color: #ff004f;
}


.header-text-contact {
    color: black;
}

.text-box {
    height: 100px;
    text-align: left;
    vertical-align: text-top;
    margin: 1px;
    padding: 1px;
    width: 300px;
    resize: none;
}

a p {
    color: #fff;
    font-size: 18px;
    position: relative;
}


/* Hide the images by default */
.slideShowItem {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img {
    vertical-align: middle;
}

h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.MYOB-description {
    display: block;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    margin-top: 70%;
    position: relative;
    color: black;
    margin-bottom: 7%;
}

.Etherea-description {
    display: block;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    position: relative;
    margin-bottom: 10%;
    color: black;
    
}

.Etherea-Images {
    right: 50%;
}

html {
    scroll-behavior: smooth;
}

.header-text-about {
    color: #000000;
    border: 10px solid #ccc;
    background-color: ghostwhite;
    padding: 50px;
    position: absolute;
    text-align: left;
    height: 77.5%;
    width: 45%;
    overflow: auto;
    left: 5%;
    top: 10%;
}

.header-text-portfolio {
    color: #000000;
}

.header-text-contact form input{
    right: 50%;
}

.left-wing:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid dodgerblue;
    border-top: 30px solid dodgerblue;
    border-bottom: 30px solid transparent;
    left: -1.2em;
    top: 0px;
}

.left-wing2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid dodgerblue;
    border-top: 30px solid dodgerblue;
    border-bottom: 30px solid transparent;
    left: -1.2em;
    bottom: 25.3em;
}

.wing-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 30px solid #e6e6e6;
    border-right: 30px solid transparent;
    border-top: 30px solid #e6e6e6;
    border-bottom: 30px solid transparent;
    right: -30px;
    top: 8.34em;
}

.wing-right2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 30px solid #e6e6e6;
    border-right: 30px solid transparent;
    border-top: 30px solid #e6e6e6;
    border-bottom: 30px solid transparent;
    right: -30px;
    top: 53.83em;
}

.header-text-contact form {
    display: table;
    margin-left: 12%;
}

.header-text-contact form p {
    display: table-row;
}

.header-text-contact form p label {
    display: table-cell;
    border-radius: 7px;
    padding: 2px;
    font-family: OpenSans;
    font-size: 1.5em;
}

.header-text-contact form p input {
    display: table-cell;
    border-radius: 7px;
    padding: 2px;
    font-family: OpenSans;
    font-size: 1.5em;
}

.header-text-contact form p textarea {
    display: table-cell;
    border-radius: 7px;
    padding: 2px;
    font-family: OpenSans;
    font-size: 1.5em;
}

@font-face {
    font-family: "Cave-Font";
    src: url(fonts/Cave-Stone.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-VariabeFont_wdth,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Lora-Regular";
    src: url(fonts/Lora-Regular.ttf) format("truetype");
}